@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

*
{
    font-family: 'Montserrat', sans-serif;
    background: #222B79;
    color: white;
}

h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.h2-text
{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 7rem;
    font-weight: bold;
}

.container
{
    padding: 7% 0%;
}

.man-img
{
    width: 70%;
}

.man-img-container
{
    text-align: center
}

hr
{
    color: white;
    background-color: white;
    height: 5px;
}