.profile-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    gap: 70px;
}

.user-data-list
{
    width: 60%;
    margin: auto
}

.profile-icon
{
    background-color: #D9D9D9;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fa-user
{
    font-size: 5rem;
    color: #00B6B7;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2
{
    color: #FFD700 !important;
    background: none;
    opacity: 100%;
}

.user-data-list-item
{
    background: none !important;
    border: none !important;
    margin: 15px !important;
}

div svg path{
    color: #00B6B7;
}

.data-item
{
    display: flex;
    justify-content: space-between;
}

.data-item p
{
    font-size: 1.5rem;
    margin: auto;
    margin-right: 0px;
}

hr
{
    margin-top: 0px !important;
}

@media only screen and (max-device-width: 420px)
{
    .data-item
    {
        display: flex;
        flex-direction: column;
    }

    .data-item p
    {
        margin: auto;
    }

}