.login-container
{
    background-color: #00B6B7;
    border-radius: 20px;

    text-align: center;
    display: flex;

}

form
{
    margin: auto;
    background-color: #00B6B7;
}

.fa-user-large
{
    margin: auto;
    font-size: 1.8rem;
}

.fa-lock, .fa-signature
{
    margin: auto;
    font-size: 2rem;
}

.input-group
{
    border-radius: 20px;
}

.form-control::placeholder
{
    color: white;
    opacity: 60%;
}

.log-buttons
{
    margin: auto;
    margin-top: 15px;
}

#signature-addon, #lock-addon, #user-addon 
{
    background-color: #050D54;
}

span svg path{
    color: #00B6B7;
}

.error-text
{
    background-color: #00B6B7;
    color: red;
}
