.workout-container
{
    background-color: #00B6B7;
    border-radius: 20px;
    text-align: center;

    margin-bottom: 40px;
}

.list-group
{
    display: flex;
    text-align: center;
    justify-content: center;
}

.action-list-item
{
    border: none !important; 
    background-color: #00B6B7 !important;
    margin: 20px;
    margin-bottom: 0px;
}

.bg-color, .valid-feedback
{
    background-color: #00B6B7;
}


.workout-title
{
    color: white !important;
    font-size: 4rem;
}

.calendar-col
{
    background-color: #00B6B7;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-container
{
    margin: auto;
    background: none;
}

.action-element
{
    background-color: #00B6B7;
    font-size: 2.5rem !important;
    transition: font-size .3s ease-in-out;
}

.action-element:hover
{
    cursor: pointer;
    font-size: 3rem !important;
    color: black;
    transition: font-size .3s ease-in-out, color .3s ease-in-out;
}

.muscle-name
{
    text-decoration: none;
    color: white;
}

.text-label
{
    font-size: 1.5rem;
}

.form-label
{
    background-color: #00B6B7;
}

.add-select
{
    width: 70% !important;
    background-color: none !important;
    margin: auto;
}

.add-col
{
    padding: 20px !important; 
}

.ok-button
{
    margin-bottom: 15px;
}

.add-container
{
    background-color: #00B6B7;
}

.exercise-item
{
    background-color: #00B6B7 !important;
    border: none !important;
}

/* calc */

._2KezC, ._NWZcI, ._38Og6
{
    background-color: rgb(69, 39, 160);
}

._yof3Q select
{
    background-color: black !important;
}

._24OKz button
{
    color: white !important;
    font-weight: 500 !important;
}

