.exercises-container
{
    text-align: center;
}
hr
{
    width: 100%;
}


.exercsies-title
{
    font-size: 4rem;
    color: white !important;
}
.card
{
    border: none !important;
    background: none !important;
    transition: box-shadow .3s ease-in-out, background .3s ease-in-out;
    margin: auto;
    margin-top: 15px;
}

.card:hover
{
    background: #0d0d0d !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow .3s ease-in-out, background .3s ease-in-out;;
}

.card-body
{
    background-color: #0d0d0d;

}

.card-title, .card-title span
{
    background: none;
}

.card-title
{
    margin: 0px !important;
}

    
.muscle-name
{
    font-size: 1.8rem;
}

a
{
    text-decoration: none !important;
}

.exercises-content
{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.muscle-title
{
    font-size: 3rem;
    font-weight: 500;
    margin: auto;
    cursor: default !important;
}

.text-label
{
    color: #FFD700;
}

.text-exercise-name
{
    font-size: 1.7rem;
}
